*{
    margin: 0;
    padding: 0;
}
.body{
min-height: 1000vh;
width: 100px;
background-image:url(img/images.jpg);
background-position: center;

background-size: cover;
position: relative;

}

